html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: url("background2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.roulette-container {
  margin: 30px auto;
}

#wheel {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  z-index: 10;

  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f97316;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: transform 2s ease-out;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
