body {
  background-image: url("background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

 
.roulette-container {
  margin: 30px auto;
}

#wheel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f97316;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  margin: auto;
  transition: transform 2s ease-out;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
